.vertical-text {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}

.dashboard #content {
    /* Need to override base django CSS here to force full width */
    width: 100%;
}

.permname {
    min-width: 15px;
    font-size: 10px;
}

.permatrix-container {
    overflow-x: scroll;
    width: 95%;
}

.module-row td {
    font-size: 14px;
    text-align: center;
}

.model-row td {
    text-align: center;
}

td {
    border: 1px solid #eee;
}

.perm_yes {
    background-color: #008000;
}

.perm_add {
    background-color: #ffff00;
}

.perm_remove {
    background-color: #8b0000;
}

.nowrap {
    white-space:nowrap;
}

.hidden {
    display: none;
}

.modules-select {
    border: 1px solid #AAA;
    padding: 5px;
    width: auto;
    display: inline-block;
    margin-bottom: 10px;
}

.modules-select-header {
    display: block;
}

.modules-select-header h3 {
    display: inline-block;
}