{% extends "admin/index.html" %}

{% load static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "css/permatrix.css" %}" />{% endblock %}
{% block extrahead %}{{ block.super }}<script src="{% static 'js/permatrix.js' %}"></script>{% endblock %}


{% block sidebar %}{% endblock %}

{% block content %}
<div class="permatrix-container">
	<table>
		<tr class="module-row">
			<td></td>
			{% for module in modules %}
				<td colspan="{{ module.attrs.colspan }}">{{ module.ct.app_label }}</td>
			{% endfor %}
		</tr>
		<tr class="model-row">
			<td></td>
			{% for model in models %}
				<td colspan="{{ model.attrs.colspan }}">{{ model.ct.name }}</td>
			{% endfor %}
		</tr>
		<tr class="permission-row">
			<td></td>
			{% for permission in permissions %}
				<td class="permname"><span class="vertical-text">{{ permission.permission.codename }}</span></td>
			{% endfor %}
		</tr>
		{% for group in groups %}
			<tr>
				<td>{{ group.group.name }}</td>
				{% for cell in group.cells %}
					{{ cell.html }}
				{% endfor %}
			</tr>
		{% endfor %}
	</table>
</div>

<div class="actions">
	<h3>Pending Actions</h3>
	<ul id="pending-actions"></ul>
</div>
{% endblock %}